.Template-logo {
  animation: Template-logo-spin infinite 20s linear;
  height: 80px;
}

.Template-header {
  background-color: #222;
  color: white;
  height: 150px;
  padding: 20px;
  text-align: center;
}

.Template-navs {
  padding: 20px 0;
  border-bottom: 1px solid #e4e4e4;
}

.Template-content {
  margin-top: 20px;
}

@keyframes Template-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
